*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif TC', serif; /*google font*/
}
.headerText{
    font-size: 1.5rem;
} 
.headerTitle{
    font-size: 2.5rem;
}
header{
    background-color: #e5e5e5;
    width: 100%;
    padding: 1rem;
}
nav{
    background-color:#634040;
}
nav ul { /*變成打橫排列*/
    display: flex;
    list-style-type: none;
    padding-left: 1rem; /*導覽列向右1單位*/
}
nav ul li { /*改文字間距*/
    padding: 0.5rem 0.75rem;
    display: flex; /*全域可按*/
}
nav ul li a{
    color:aliceblue;
    text-decoration: none; /*不要底線*/
    font-size: 1.25rem;
    transition: all 0.5s ease; /*漸變*/
}
nav ul li a:hover{
    color:rgb(245, 245, 19);
    /*background-color:rgb(149, 255, 139); /*反白*/
    
}
.active{
    color:rgb(245, 245, 19);
}
main{
    width: 100%;
    display: flex;
}
section.right,
section.left{
    padding: 5rem;
}
section.left{
    padding-right: 20rem;
}
section.right{
    display: flex;
    flex-direction: column;
    align-items: center; /*置中*/
    background-color:#C4C4C4;
}
section.right p{
    margin: 1rem 0rem; /*間隔*/
}
section.left img{
    transform: rotate(20deg);
}